<!-- 套用局部頁面 _form -->
<%= render :partial => "form" %>

<br />
  <div class="container form-group">
    <%= link_to "<span class='glyphicon glyphicon-home'></span>  Back to Home Page".html_safe, photos_path, class: "btn btn-primary" %>
  </div>